<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Get In Touch</span>
      <h2 class="cs-title">Get It Done With Us Today</h2>
      <p class="cs-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pharetra
        iaculis pulvinar netus quis ut egestas sapien ut. Ullamcorper fermentum,
        eget sit molestie vel fermentum. Eget egestas iaculis sed lorem et amet.
        Accumsan ornare dignissim auctor eu. Quam quis urna massa.
      </p>
      <a href="" class="cs-button-solid">Get a Free Estimate Now</a>
    </div>
  </div>
  <!-- Background Image-->
  <picture class="cs-picture">
    <source
      media="(max-width: 600px)"
      srcset="assets/images/cabinets2-m.webp"
    />
    <source media="(min-width: 601px)" srcset="assets/images/cabinets2.jpg" />
    <img
      loading="lazy"
      decoding="async"
      src="assets/images/cabinets2.jpg"
      alt="cabinets"
      width="1920"
      height="1280"
      aria-hidden="true"
    />
  </picture>
</section>
